#container{
  width: 100%;
  text-align: center;
}

body{
  background-image: url('./lib/imgs/seaBackground.jpg');
}

canvas{
  border: solid 2px black;
  margin: auto;
}

div{

}

h1{
font-family: 'Handlee', cursive;
  font-size: 50px;
}
